<divth:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 py-4 text-center">
                    <h5>Curabitur</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Emauris</a></li>
                        <li><a href="#">Kfringilla</a></li>
                        <li><a href="#">Oln magna sem</a></li>
                        <li><a href="#">Kelementum</a></li>
                    </ul>
                </div>
                <div class="col-md-3 py-4 text-center">
                    <h5>Fusce</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Econsectetur</a></li>
                        <li><a href="#">Ksollicitudin</a></li>
                        <li><a href="#">Omvulputate</a></li>
                        <li><a href="#">Nunc fringilla tellu</a></li>
                    </ul>
                </div>
                <div class="col-md-3 py-4 text-center">
                    <h5>Kontakt</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><strong>Peakontor: Tallinnas</strong></a></li>
                        <li><a href="#">Väike-Ameerika 1, 11415 Tallinn</a></li>
                        <li><a href="#">Telefon: 605 4450</a></li>
                        <li><a href="#">Faks: 605 3186</a></li>
                    </ul>
                </div>
                <div class="col-md-3 py-5 text-center">
                    <ul class="list-unstyled">
                        <li><a href="#"><strong>Harukontor: Võrus</strong></a></li>
                        <li><a href="#">Oja tn 7 (külastusaadress)</a></li>
                        <li><a href="#">Telefon: 605 3330</a></li>
                        <li><a href="#">Faks: 605 3155</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>