<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisa ettevõte info</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div class="container my-3" layout:fragment="content">
        <div class="row bg-light g-0">
            <div class="row g-0 mb-3 banner h-50">
                <div class="col-md-3 blue-bg text-white d-flex align-items-center justify-content-center" style="height: 100px;">
                    <h2>Ettevõte info</h2>
                </div>
                <div class="col-md-9">
                    <img src="/libled.jpg" alt="Image" class="object-cover" style="height: 100px;">
                </div>
            </div>
            <div class="col-md-8 offset-md-3">
                <div class="col-sm-4 col-form-label form-header-color">
                    <h4>Ettevõte info</h4>
                </div>
                <form action="#" method="post" th:action="@{/lisa-ettevote-info/{event_id}/{participant_id}(event_id=${event.id},participant_id=${participant.id})}" th:object="${participant}">
                    <div class="row mb-3">
                        <label for="companyName" class="col-sm-3 col-form-label">Ettevõte nimi:</label>
                        <div class="col-sm-6">
                            <input th:field="*{companyName}" type="text" class="form-control" id="companyName" name="company" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="registerCode" class="col-sm-3 col-form-label">Registri kood:</label>
                        <div class="col-sm-6">
                            <input th:field="*{registerCode}" type="text" class="form-control" id="registerCode" name="register" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="companyParticipants" class="col-sm-3 col-form-label">Registri kood:</label>
                        <div class="col-sm-6">
                            <input th:field="*{companyParticipants}" type="number" maxlength="12" class="form-control" id="companyParticipants" name="companyPart" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="paymentMethod" class="col-sm-3 col-form-label">Maksmisviis:</label>
                        <div class="col-sm-6">
                            <select id="dropdown" name="paymentMethod" th:field="${participant.paymentMethod}"
                            class="form-select">
                            <option value="Pangaülekanne">Pangaülekanne</option>
                            <option value="Sularaha">Sularaha</option>
                        </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="information" class="col-sm-3 col-form-label">Lisainfo:</label>
                        <div class="col-sm-6">
                            <textarea th:field="*{information}" class="form-control" id="information" name="description" rows="4"
                                required maxlength="5000"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-3">
                            <a th:href="@{/lisa-osavotjad/{event_id}(event_id=${event_id})}" class="btn btn-light">Tagasi</a>
                            <button type="submit" class="btn btn-primary">Salvesta</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>